
@import 'reset.scss';
@import 'bootstrap/bootstrap-grid.scss';
@import 'animate.scss';

//Fonts
//--Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic);

@mixin font-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
@mixin font-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  @include media-breakpoint-down(md) {
    max-width: 100%;
  };
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(17, 28, 50, 0.8);
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
  transition: all ease 1s;
  overflow: hidden;
  &__logo {
    @include make-col();
    @include make-col-span(2);
    @include media-breakpoint-down(sm) {
      img {
        width: 150px;
        height: 53px;
      }
    }
  }
}

.nav {
  @include make-col();
  @include make-col-span(10);
  position: static;
  padding-top: 30px;
  &__wrapper {
    text-align: right;
  }
  &__item {
    display: inline-block;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    a {
      @include font-regular;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
    }
  }
  &__open {
    display: none;
    margin-right: 12px;
    position: relative;
    float: right;
    padding: 10px;
    width: 57px;
    height: 42px;
    border-radius: 2px;
    overflow: hidden;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      width: 37px;
      background-color: #fff;
      transition: all ease .5s;
      &:first-child {

      }
      &:nth-child(2) {
        top: 19px;
      }
      &:nth-child(3) {
        top: 28px;
      }
    }
    &--active {
      span {
        &:first-child {
          transform: rotate(45deg);
          top: 19px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 19px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
      @include make-col-span(2);
      float: right;
  }
}

.heading {
  position: relative;
  @include font-bold;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  &:after {
    content: '';
    margin-top: 30px;
    display: block;
    width: 181px;
    height: 4px;
    background-color: #fff;
  }
  @include media-breakpoint-down(xs) {
    font-size: 26px;
  };
}
.paragraph {
  @include font-light;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  };
}
.btn {
  display: block;
  padding: 15px 39px 18px 39px;
  @include font-bold;
  font-size: 21px;
  cursor: pointer;
  color: #fff;
  width: 307px;
  text-decoration: none;
  text-align: center;
  @include media-breakpoint-down(xs) {
    width: 290px;
    font-size: 19px;
  };
  &--light {
    border: 3px solid #fff;
  }
  &--full {
    color: #fff;
    background-color: #548bfa;
  }
}



.top {
  //background: linear-gradient(270deg, #37f5dd, #548bfa);

  //background-size: calc(100% + 70px) calc(100% + 70px);


  background-size: cover;
  // background-size: 200% 200%;
  // animation: gradientAnimation 15s ease infinite;
  overflow: hidden;
  &__bg {
    padding-top: 200px;
    padding-bottom: 225px;
    background-image: url(../img/bg-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-down(xs) {
      padding-top: 150px;
      padding-bottom: 125px;
    };
  }
  &__heading {
    @extend .heading;
    margin-bottom: 40px;
    &:after {
      width: 0;
      transition: all ease 2s;
    }
    &--active {
      &:after {
        width: 181px;
      }
    }
  }
  &__paragraph {
    @extend .paragraph;
    @include make-col-span(7);
    @include media-breakpoint-down(sm) {
      @include make-col-span(12);
    };
  }
  .btn {
    margin-top: 30px;
  }
}


@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.technologies {
  position: relative;
  padding-top: 55px;
  padding-bottom: 100px;
  background-image: url(../img/technologies.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__left {
    @include make-col();
    @include make-col-span(7);
    padding-right: 0;
    @include media-breakpoint-down(md) {
      padding-left: 0;
    };
    @include media-breakpoint-down(sm) {
      @include make-col-span(12);
      padding-right: 0;
    };
  }
  &__right {
    @include make-col();
    @include make-col-span(5);
    @include clearfix;
    padding-right: 0;
    padding-left: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    };
  }
  &__heading {
    @extend .heading;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #548bfa;
    &:after {
      background-color: #37f5dd;
    }
  }
  &__paragraph {
    @extend .paragraph;
    color: #404040;
  }
}
.teches {
  @include make-row();
  margin-top: 30px;
  &__tech {
    @include make-col();
    @include make-col-span(4);
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100px 140px;

    &:nth-child(1) {
      background-image: url(../img/html.png);
      background-position: left;
    }
    &:nth-child(2) {
      background-image: url(../img/css.png);
      background-position: center;
    }
    &:nth-child(3){
      background-image: url(../img/js.png);
      background-position: right;
    }
    @include media-breakpoint-down(xs) {
      background-size: 80px 112px;
    };
  }
}
.panel {
  position: absolute;
  right: 0;
  top: -140px;
  @include make-col-span(10);
  padding: 40px 0;
  background-color: #fff;
  box-shadow:  0 0 15px 2px rgba(0, 0, 0, 0.35);
  &__image {

  }
  &__heading {
    position: relative;
    margin-top: 40px;
    @include font-bold;
    font-size: 36px;
    color: #548bfa;
    text-transform: uppercase;
    text-align: center;
    &:after {
      content: '';
      margin: 20px auto 0 auto;
      display: block;
      width: 181px;
      height: 4px;
      background-color: #37f5dd;
    }
  }
  &__paragraph {
    margin-top: 20px;
    padding: 0 40px;
    @include font-light;
    color: #404040;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

}
.cog {
  display: none;
  @include make-col-span(10);
  height: 419px;
  position: absolute;
  top: 489px;
  right: 0;
  @include media-breakpoint-up(xl) {
    display: block;
  };
  // background-image: url(../img/gears.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  &__wrapper {
    position: relative;
  }
  &__item {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

  }
}
.cog1 {
  left: 60px;
  top: 34px;
  width: 141px;
  height: 131px;
  background-image: url(../img/gear_1.png);
  z-index: 3;
  // animation: cogAnimationForward 10s linear infinite;
}
.cog2 {
  left: 193px;
  top: 8px;
  width: 116px;
  height: 116px;
  background-image: url(../img/gear_2.png);
  z-index: 4;
  // animation: cogAnimationBackward 10s linear infinite;
}
.cog3 {
  top: 164px;
  width: 264px;
  height: 263px;
  background-image: url(../img/gear_3.png);
  z-index: 4;
  // animation: cogAnimationBackward 10s linear infinite;
}
.cog4{
  top: 108px;
  left: 224px;
  width: 174px;
  height: 172px;
  background-image: url(../img/gear_4.png);
  z-index: 4;
  // animation: cogAnimationForward 10s linear infinite;
}
@keyframes cogAnimationForward {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
@keyframes cogAnimationBackward {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(-360deg)}
}

.aboutus {
  padding-top: 50px;
  padding-bottom: 100px;
  background: linear-gradient(240deg, #37f5dd 1%, #548bfa 18%, #548bfa 19%, #548bfa 20%, #37f5dd 44%, #37f5dd 45%,#548bfa 65%, #548bfa 70%, #37f5dd 100%);
  background-repeat: repeat;
  // background-size: cover;
  background-size: 300% 300%;
  animation: gradientAnimation 30s ease-in infinite;
  &__heading {
    @extend .heading;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  &__paragraph {
    @extend .paragraph;
  }
}
@keyframes workAnimate {
    0%{transform:translateX(-1900px)}
    100%{transform:translateX(-145px)}

}

.work {
  overflow: hidden;
  background-image: url(../img/our_team_pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include clearfix;
  &__heading {
    @extend .heading;
    margin-bottom: 30px;
    color: #548bfa;
    &:after {
      background-color: #37f5dd;
    }
  }
  &__paragraph {
    @extend .paragraph;
    color: #404040;
  }
  &__wrapper {
    width: 1300px;
    // position: absolute;
    // left: -102px;
    transform: translateX(-1900px);
    &--active {
      animation: workAnimate 2s ease;
      transform: translateX(-145px);
    }

  }
  &__content {
    background-image: url(../img/work_content_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @include clearfix;
    padding-top: 100px;
    padding-bottom: 200px;
    transform: skewX(-20deg);


    .btn {
      margin-top: 35px;
    }
  }
  .container {
    float: right;
    margin-right: 206px;
    @include make-col-span(6);
    transform: skewX(20deg);
  }
  @include media-breakpoint-down(md) {
    &__wrapper {
      width: 100%;
      transform: translate(0);
    }
    &__content, .container {
      transform: skew(0);
    }
    .container {
      float: none;
      margin-right: 0;
      @include make-col-span(12);
    }
  }
}


.contacts {
  padding-top: 100px;
  padding-bottom: 170px;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__heading {
    @extend .heading;
    margin-bottom: 40px;
  }
  &__paragraph{
    @extend .paragraph;
  }
}

.form {
  @include clearfix;
  margin-top: 30px;
  input:not([type="submit"]), &__message {
    -webkit-appearance: none;
    margin-bottom: 10px;
    padding: 9px 27px;
    width: 100%;
    border: none;
    @include font-light;
    font-size: 21pt;
    height: 56px;
    border-radius: 0;
    &::placeholder {
      @include font-light;
      font-size: 21pt;
    }
  }
  &--error {
    box-shadow: 0 0 0 2px #f43a3a !important;
  }
  &__message {
    resize: none;
    width: 100%;
    height: 188px;
    min-height: 188px;
    max-height: 300px;
  }
  &__left {
    @include make-col();
    @include make-col-span(5);
    padding-left: 0;
    padding-right: 10px;
    @include media-breakpoint-down(sm) {
      @include make-col-span(12);
      padding-right: 0;
    };
  }
  &__right {
    @include make-col();
    @include make-col-span(7);
    padding-left: 10px;
    padding-right: 0;
    @include media-breakpoint-down(sm) {
      @include make-col-span(12);
      padding-left: 0;
    };
  }
  &__submit {
    -webkit-appearance: none;
    margin-top: 20px;
    border: none;
    float: right;
    border-radius: 0;
    @include media-breakpoint-down(sm) {
      float: none;
      margin: 0 auto;
    };
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 34px;
  padding-bottom: 32px;
  width: 100%;
  height: 100px;
  background-color: rgba(17, 28, 50, 0.8);
  &footer__logo {
    padding: 0;
    width: 100px;
    height: 36px;
    vertical-align: baseline;

  }
  &__copyright {
    margin-top: 13px;
    float: right;
    color: #fff;
    @include font-light;
    font-size: 12px;
    vertical-align: baseline;
    a {
      //@include font-light;
      color: #fff;
    }
    @include media-breakpoint-down(xs) {
      display: block;
      font-size: 12px;
      margin-top: 5px;
      float: left;
    };
  }
}

//CAREER styles
.career {
  min-height: 100vh;
  padding-top: 204px;
  padding-bottom: 200px;
  background-image: url(../img/career.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__main {
    @include make-col();
    @include make-col-span(7);
  }
  &__headign {
    @extend .heading;
    margin-bottom: 30px;
    color: #548bfa;
    &:after {
          background-color: #37f5dd;
    }
  }
  &__paragraph {
    margin-bottom: 40px;
    @extend .paragraph;
    color: #404040;
  }
}

.department {
  margin-bottom: 40px;
  &__header {
    margin-bottom: 20px;
    @include font-light;
    font-size: 21pt;
    color: #626262;
    text-transform: capitalize;
  }
}
.accordion {
  margin-top: 20px;
  &__header {
    margin-top: 10px !important;
    padding: 18px 0 15px 20px !important;
    @include font-light;
    font-size: 21pt !important;
    color: #626262;
    text-transform: capitalize;
    border: none;
    border-radius: 0;
    background: #fff;
    &:focus {
      border: 0;
    }
    span {
      display: none;
    }
  }
  &__text {
    border: none;
    border-radius: 0;
    background: transparent;

  }
}
.ui-state-active {
  background: #548bfa;
  color: #fff;
}
.ui-accordion .ui-accordion-content {
  padding: 20px 20px 30px 20px;
  overflow: hidden !important;
}

.text-heading {
  margin-bottom: 5px;
  @include font-regular;
  font-size: 16px;
  color: #7e7e7e;
  text-decoration: underline;
}
.responsibility {
  margin-bottom: 10px;
  @include font-light;
  font-size: 16px;
  color: #7e7e7e;
  line-height: 26px;
}
.requirements {
  list-style-position: inside;
  &__item {
    margin-left: 9px;
    @include font-light;
    font-size: 16px;
    line-height: 26px;
    color: #7e7e7e;
    &:before {
      content: '-';
      position: relative;
      left: -9px;
    }

  }
}

//.send-cv {
//  @include make-col();
//  @include make-col-span(4);
//  float: right;
//  padding: 40px;
//  background: #fff;
//  box-shadow: 0 0 15px 2px rgba(0,0,0,.35);
//  &__heading {
//    position: relative;
//    @include font-bold;
//    font-size: 32px;
//    color: #548bfa;
//    text-transform: uppercase;
//    text-align: center;
//    &:after {
//      content: '';
//      margin: 20px auto 0 auto;
//      display: block;
//      width: 181px;
//      height: 4px;
//      background-color: #37f5dd;
//    }
//  }
//  @include media-breakpoint-down(xs) {
//    padding: 40px 15px;
//  };
//}
.send-cv {
  @include make-col();
  @include make-col-span(4);
  float: right;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 15px 2px rgba(0,0,0,.35);
  &__heading {
    position: relative;
    @include font-bold;
    font-size: 32px;
    color: #548bfa;
    text-transform: uppercase;
    text-align: center;
    &:after {
      content: '';
      margin: 20px auto 0 auto;
      display: block;
      width: 181px;
      height: 4px;
      background-color: #37f5dd;
    }
  }
  @include media-breakpoint-down(xs) {
    padding: 40px 15px;
  }
  input:not([type="file"],[type="submit"]){
    -webkit-appearance: none;
    margin-top: 20px;
    width: 100%;
    padding: 18px 0 18px 20px;
    @include font-light;
    font-size: 21px;
    color: #626262;
    border: 1px solid #7e7e7e;
    border-radius: 0;
    &::placeholder {
      @include font-light;
      font-size: 21px;
      color: rgba(98,98,98,.8);
    }
  }
  select {
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 20px;
    width: 100%;
    padding: 18px 45px 18px 20px;
    -webkit-padding-end: 45px !important;
   -webkit-padding-start: 10px !important;
    font-size: 21px;
    color: rgba(98,98,98,0.0);
    border: 1px solid #7e7e7e;
    border-radius: 0;
    text-overflow: ellipsis;
     z-index: 2;
     background: none;
     //color: transparent;
    &::-ms-expand {
      display: none;
    }
    option {
      @include font-light;
      font-size: 21px;
      color: #626262;
    }

  }
  &__select-wrapper {
    position: relative;
     z-index: 2;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 45px;
      right: 19px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 8px 0 8px;
      border-color: #7e7e7e transparent transparent transparent;
    }
  }
  &__viewport {
    position: absolute;
    bottom: 0;
    padding: 18px 20px 18px 20px;
    width: 80%;
    height: 75%;

    overflow: hidden;
    white-space: nowrap;
    @include font-light;
    font-size: 21px;
    color: rgba(98, 98, 98, 0.8);
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    z-index: 1;
  }
  &__comment {
    -webkit-appearance: none;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: 168px;
    max-height: 168px;
    padding: 18px 0 18px 20px;
    @include font-light;
    font-size: 21px;
    color: #626262;
    border: 1px solid #7e7e7e;
    border-radius: 0;
    resize: none;
  }
  &__submit {
    border: none;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    &--success {
      background-color: #46e46d;
    }
  }
}
.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  &__input {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &__btn {
    display: block;
    text-align: center;
    margin: 15px 0;
    @include font-light;
    text-decoration: underline;
    font-size: 21px;
    color: #548bfa;
    cursor: pointer;
  }
}

.parsley-required, .parsley-type {
  color: #fe2e2e;
  @include font-light;
}


@include media-breakpoint-down(lg) {
  .nav {
    &__item {
      margin-right: 4.24vw;
    }
  }
  .career__main {
    @include make-col-span(12);
  }
  .send-cv{
    margin-top: 50px;
    @include make-col-span(12);
  }
};

@include media-breakpoint-down(md) {
  .nav {
    &__item {
      margin-right: 1.24vw;
    }
  }
};

@include media-breakpoint-down(sm) {
  .nav {
    padding-top: 10px;
    padding-right: 0;
    &__wrapper {
      display: none;
      padding-top: 75px;
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }
    &__item {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      a {
        @include font-regular;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    &__open {
      display: block;
    }
  }



  .logo {
    img {
      width: 150px;
      height: 53px;
    }
  }
};

@include media-breakpoint-down(xs) {
  .footer {
    &__logo {
      display: block;
      text-align: center;
      float: none;
    }
    &__copyright {
      text-align: center;

      float: none;
    }
  }
};
